<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EV Routing</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'Routing_Page/routing.css' %}"
      type="text/css"
    />
    {% csrf_token %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiCP3LNPHbjh4JLvXpT1Bu0e17BPadZ5U&libraries=drawing,places,geometry"></script>
  </head>
  <body>
    <div class="navigation">
      <ul>
        {% comment %}
        <li>
          <img src="" alt="Logo" />
        </li>
        {% endcomment %}
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/features">Features</a>
        </li>
        <li><div class="user">User</div></li>
        <li>
          <a href="/signout"><button>Logout</button></a>
        </li>
      </ul>
    </div>
    <div class="user-input">
      <div>
        <ul>
          <li>
            <ul>
              <li>
                <input type="text" id="source" placeholder="Enter the source" />
              </li>
              <li><p id="current-source">Choose current location</p></li>
              {% comment %}
              <li><img src="" alt="current-source" id="current-source" /></li>
              {% endcomment %}
            </ul>
          </li>
          <li>
            <li><p id="interchange-source-destination">&lt;---&gt;</p></li>
            {% comment %} <img
              src=""
              alt="interchange source destination"
              id="interchange-source-destination"
            /> {% endcomment %}
          </li>
          <li>
            <ul>
              <li>
                <input
                  type="text"
                  id="destination"
                  placeholder="Enter the destination"
                />
              </li>
              <li>
                {% comment %}
                <img
                  src=""
                  alt="current-destination"
                  id="current-destination"
                />
                {% endcomment %}
                <p id="current-destination">Choose current location</p>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="find-routes">
          <button>Find Routes</button>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <div class="charging-stations-found">
              <p>Charging Stations Found</p>
              <div class="charging-stations-found_1"></div>
            </div>
          </li>
          <li>
            <div class="breakdown-assistance-found">
              <p>Breakdown Assistance Found</p>
              <p></p>
              <div class="breakdown-assistance-found_1"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="map"></div>
    <div id="display-information"></div>
    <script src="{% static 'Routing_Page/routing.js'%}" defer></script>
  </body>
</html>
