<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>User Login</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'Signin_Page/login.css' %}"
      type="text/css"
    />
    <style>

    </style>
  </head>
  <body>
    <div class="index_1">
      <div class="navigation">
        <nav>
          <img src="" alt="" />
        </nav>
      </div>
      <h1>User Login</h1>
      <!--<div>
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible fade show"
        role="alert"
      >
        <strong>Message:</strong> {{ message }}
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </div>-->
    <div class="main-body"> <!--
      <div class="success-error-messages">
        {% if messages.errors %}
        <ul>
          {% for error in messages.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% if messages.success %}
        <ul>
          {% for success in messages.success %}
          <li>{{ success }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>-->
        <div class="container">
            <div id="signin-form">
                <form action="/signin" method="post">
                    {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" />
                    <br />

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" />
                    <br />

                    <button type="submit">Login</button>
                </form>
                <div class="new-user">
                    <p>Not registered yet?</p>
                    <a href="/signup">Click here to register</a>
                </div>
            </div>
            <script src="{% static 'Signin_Page/login.js'%}" defer></script>
        </div>
    </div>
  </body>
</html>
